<?xml version="1.0"?>

<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<!--
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <elmah>
    <security allowRemoteAccess="yes"/>
  </elmah>
  <appSettings>
  


    -->
<!--<add key="ConnectionString" value="Trusted_connection=true; Database= CSMS ; Data Source= Ashish_Wankhede"/>-->
<!--
   
	  <add key="ConnectionString" value="server=.;UID=sa;Password=sql;Initial Catalog=CSMS"/>
    
	  <add key="Connectionopdms" value="server=sql.mp.nic.in;UID=csms;Password=smsc2009;Initial Catalog=opdms"/>
    <add key="ConnectionWlc" value="server=sql.mp.nic.in;UID=csms;Password=smsc2009;Initial Catalog=Warehouse"/>
    <add key="ConnectionStringProcument" value="10.131.0.20;UID=mpwlc;Password=mpwlc@2k10;Initial Catalog=MPProcurement_New"/>
    <add key="localhost.Service" value="http://mpsc.mp.nic.in/csms/mpproc/ProcurementService/ProcurementService.asmx"/>
    <add key="conncsms" value="server=10.131.0.20;UID=mpwlc;Password=mpwlc@2k10;Initial Catalog=DPMS_DB"/>
    <add key="con_Proc_online_app" value="server=10.131.0.20;UID=mpwlc;Password=mpwlc@2k10;Initial Catalog=WPMS_DB"/>
    <add key="con_Proc_online_app_test" value="server=10.131.0.20;UID=mpwlc;Password=mpwlc@2k10;Initial Catalog=WPMS_TEST"/>
    <add key="ConnectionString_mpproc" value="server=10.131.0.20;UID=mpwlc;Password=mpwlc@2k10;Initial Catalog=MPProcurement_New"/>
    <add key="con_Proc_online_app_PPMS" value="server=10.131.0.20;UID=paddy2012;Password=paddy2k12;Initial Catalog=PPMS_DB"/>
    <add key="con_Proc_online_app_MPMS" value="server=10.131.0.20;UID=paddy2012;Password=paddy2k12;Initial Catalog=MPMS_DB"/>
    <add key="con_Proc_online_app_WPMS2013" value="server=10.131.0.20;UID=wpm2013;Password=wpmmp@2013;Initial Catalog=WPMS2013"/>
    <add key="ConnectionStringFarmerDB" value="server=10.131.0.20;UID=mpfdb;Password=mpf@2k13;Initial Catalog=MPFarmerDB"/>
    -->
<!--<add key="ConnectionStringFarmerDB" value="server=10.131.0.20;UID=mpfdb;Password=mpf@2k13;Initial Catalog=MPFarmerDB"/>-->
<!--
    <add key="Appconstr_PPMS2014" value="server=10.131.0.20;UID=paddy2013;Password=paddy@2k13;Initial Catalog=PPMS2013"/>
    <add key="Appconstr_MPMS2014" value="server=10.131.0.20;UID=paddy2013;Password=paddy@2k13;Initial Catalog=MPMS2013"/>
    <add key="Appconstr_WPMS2014" value="server=10.131.0.20;UID=wpm2014;Password=wpmmp@2k14;Initial Catalog=WPMS2014"/>
    <add key="Appconstr_WPMS2015_Test" value="server=10.131.0.20;UID=wpms_test;Password=wpms@2014;Initial Catalog=WPMS_test"/>
    <add key="Appconstr_PPMS2014_15" value="server=10.131.0.20;UID=paddy2014;Password=paddy@2k14;Initial Catalog=PPMS2014"/>
    <add key="Appconstr_MPMS2014_15" value="server=10.131.0.20;UID=paddy2014;Password=paddy@2k14;Initial Catalog=MPMS2014"/>
    <add key="constr_andro" value="server=10.131.0.20;UID=pdsandbo;Password=android#dbo;Initial Intergrated_MP_STORAGECatalog=PDS_ANDRO"/>
    <add key="Appconstr_PPMSDemo_Test" value="server=10.131.0.20;UID=ppms@test;Password=ppmstest@2014;Initial Catalog=PPMS_Test"/>
    -->
<!--<add key="Appconstr_WPMS2015" value="server=10.131.0.20;UID=wpm2015;Password=wpmmp@2k15;Initial Catalog=WPMS2015"/>-->
<!--
    <add key="Appconstr_WPMS2015" value="server=LENOVO-PC;UID=sa;Password=nic123;Initial Catalog=WPMS2015"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="3000"/>
    <add key="Appconstr_PPMS2016" value="Data Source=.;Initial Catalog=PPMS2016;Persist Security Info=True;User ID=sa;Password=0123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"/>
    
	<add key="Appconstr_MPMS2016" value="Data Source=.;Initial Catalog=MPMS2016;Persist Security Info=True;User ID=sa;Password=0123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"/>
 
 </appSettings>
  <connectionStrings>

    -->
<!--<add name="Appconstr_PPMS2015_16" connectionString="Data Source=.;Initial Catalog=PPMS2015;Persist Security Info=True;User ID=sa;Password=nic123" providerName="System.Data.SqlClient"/>-->
<!--
    <add name="Appconstr_MPMS2015_16" connectionString="Data Source=.;Initial Catalog=MPMS2015;Persist Security Info=True;User ID=sa;Password=nic123" providerName="System.Data.SqlClient"/>

    <add name="con_Proc_online_WPMS2016" connectionString="Data Source=.;Initial Catalog=WPMS2015;Persist Security Info=True;User ID=sa;Password=0123" providerName="System.Data.SqlClient"/>

    <add name="con_Proc_online_WPMS2013" connectionString="Data Source=10.131.0.20;Initial Catalog=WPMS2013;Persist Security Info=True;User ID=wpm2013;Password=wpmmp@2013" providerName="System.Data.SqlClient"/>
    <add name="connectioncsms" connectionString="Data Source=10.131.0.20;Initial Catalog=DPMS_DB;Persist Security Info=True;User ID=mpwlc;Password=mpwlc@2k10" providerName="System.Data.SqlClient"/>
    <add name="constrProcurement" connectionString="Data Source=10.131.0.20;Initial Catalog=MPProcurement_New;Persist Security Info=True;User ID=mpwlc;Password=mpwlc@2k10;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>

    <add name="Appconstr_PPMS2015_16" connectionString="Data Source=.;Initial Catalog=PPMS2015;Persist Security Info=True;User ID=sa;Password=0123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    -->
<!--<add name="Appconstr_PPMS2016_17" connectionString="Data Source=.;Initial Catalog=PPMS2016;Persist Security Info=True;User ID=sa;Password=0123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>-->
<!--
    
	  <add name="constr" connectionString="Data Source=(local);Initial Catalog=newcsms;User ID=sa;Password=sql;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    
	  <add name="constr_FA" connectionString="Data Source=.;Initial Catalog=mpscscPayroll_DB;Persist Security Info=True;User ID=sa;Password=0123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>

	  <add name="connstorage" connectionString="Data Source=(local);Initial Catalog=newcsms;User ID=sa;Password=sql;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>

    -->
<!--<add name="constr" connectionString="Trusted_connection=true; Database= CSMS ; Data Source= Ashish_Wankhede" providerName="System.Data.SqlClient"/>-->
<!--
    -->
<!--<add name="connstorage" connectionString="Data Source=10.131.0.20;Initial Catalog=Intergrated_MP_STORAGE;Persist Security Info=True;User ID=mpwlc;Password=mpwlc@2k10;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient" />-->
<!--
    -->
<!--<add name="constr" connectionString="Data Source=sql.mp.nic.in;Initial Catalog=MPSCSC;Persist Security Info=True;User ID=csms;Password=smsc2009;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"
   providerName="System.Data.SqlClient" />-->
<!--
    <add name="constr_opdms" connectionString="Data Source=.;Initial Catalog=opdms;Persist Security Info=True;User ID=sa;Password=nic123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    <add name="constr_warehouse" connectionString="Data Source=sql.mp.nic.in;Initial Catalog=Warehouse;Persist Security Info=True;User ID=csms;Password=scsc123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    <add name="constr_mpproc" connectionString="Data Source=10.131.0.20;Initial Catalog=MPProcurement_New;Persist Security Info=True;User ID=mpwlc;Password=mpwlc@2k10;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>

    <add name="rptfolder" connectionString="Data Source=127.0.0.1;" providerName="/CSMSReports1/"/>
    <add name="uname" connectionString="Data Source=127.0.0.1;" providerName="A.K.Wankhede"/>
    <add name="psw" connectionString="Data Source=127.0.0.1;" providerName="Wan0123"/>
    <add name="domain" connectionString="Data Source=127.0.0.1;" providerName="127.0.0.1"/>
    <add name="rpturl" connectionString="Data Source=127.0.0.1;" providerName="http://127.0.0.1/ReportServer"/>

    -->
<!--<add name="rptfolder" connectionString="Administrator" providerName="/CSMSReports/"/>
    <add name="uname" connectionString="Administrator" providerName="AshishWankhede"/>
    <add name="psw" connectionString="Administrator" providerName="Wan0123"/>
    <add name="domain" connectionString="Administrator" providerName="127.0.0.1"/>
    <add name="rpturl" connectionString="Administrator" providerName="http://127.0.0.1/ReportServer"/>-->
<!--
    <add name="uname_dpms" connectionString="Data Source=10.131.0.20;" providerName="Administrator"/>
    <add name="psw_dpms" connectionString="Data Source=10.131.0.20;" providerName="nic@123"/>
    <add name="domain_dpms" connectionString="Data Source=10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_dpms" connectionString="Data Source=10.131.0.20;" providerName="/DPMS-Report/"/>
    <add name="rpturl_dpms" connectionString="Data Source=10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    <add name="uname_mpproc" connectionString="Data Source=10.131.0.20;" providerName="Administrator"/>
    <add name="psw_mpproc" connectionString="Data Source=10.131.0.20;" providerName="nic@123"/>
    <add name="domain_mpproc" connectionString="Data Source=10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_mpproc" connectionString="Data Source=10.131.0.20;" providerName="/MPPROC-Reports/"/>
    <add name="rpturl_mpproc" connectionString="Data Source=10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    <add name="MPSCSCConnectionString1" connectionString="Data Source=sql.mp.nic.in;Initial Catalog=MPSCSC;Persist Security Info=True;User ID=csms;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    -->
<!-- connection string for WPMS Application-->
<!--
    <add name="con_Proc_online" connectionString="Data Source=10.131.0.20;Initial Catalog=WPMS_DB;Persist Security Info=True;User ID=mpwlc;Password=mpwlc@2k10" providerName="System.Data.SqlClient"/>
    <add name="con_Proc_online_test" connectionString="Data Source=10.131.0.20;Initial Catalog=WPMS_TEST;Persist Security Info=True;User ID=mpwlc;Password=mpwlc@2k10" providerName="System.Data.SqlClient"/>
    <add name="uname_whtmp" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_whtmp" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_whtmp" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_whtmp" connectionString="110.131.0.20;" providerName="/WPMS-Reports/"/>
    <add name="rpturl_whtmp" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    <add name="con_Proc_online_PPMS" connectionString="Data Source=10.131.0.20;Initial Catalog=PPMS_DB;Persist Security Info=True;User ID=paddy2012;Password=paddy2k12" providerName="System.Data.SqlClient"/>
    <add name="uname_PPMS" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_PPMS" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_PPMS" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_PPMS" connectionString="10.131.0.20;" providerName="/PPMS-Reports/"/>
    <add name="rpturl_PPMS" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    <add name="con_Proc_online_MPMS" connectionString="Data Source=10.131.0.20;Initial Catalog=MPMS_DB;Persist Security Info=True;User ID=paddy2012;Password=paddy2k12" providerName="System.Data.SqlClient"/>
    <add name="uname_MPMS" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_MPMS" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_MPMS" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_MPMS" connectionString="10.131.0.20;" providerName="/MPMS-Reports/"/>
    <add name="rpturl_MPMS" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    -->
<!-- connection string for WPMS2013 Reports Application  12122012-->
<!--
    <add name="uname_WPMS2013" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_WPMS2013" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_WPMS2013" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_WPMS2013" connectionString="10.131.0.20;" providerName="/WPMS2013-Reports/"/>
    <add name="rpturl_WPMS2013" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    -->
<!-- connection string for PPMS2013 Reports Application  03082013-->
<!--
    <add name="con_Proc_online_PPMS2013" connectionString="Data Source=10.131.0.20;Initial Catalog=PPMS2013;Persist Security Info=True;User ID=paddy2013;Password=paddy@2k13" providerName="System.Data.SqlClient"/>
    <add name="uname_PPMS2013" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_PPMS2013" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_PPMS2013" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_PPMS2013" connectionString="10.131.0.20;" providerName="/PPMS2013-Reports/"/>
    <add name="rpturl_PPMS2013" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    -->
<!-- connection string for MPMS2013 Reports Application  05102013-->
<!--
    <add name="con_Proc_online_MPMS2013" connectionString="Data Source=10.131.0.20;Initial Catalog=MPMS2013;Persist Security Info=True;User ID=paddy2013;Password=paddy@2k13" providerName="System.Data.SqlClient"/>
    <add name="uname_MPMS2013" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_MPMS2013" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_MPMS2013" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_MPMS2013" connectionString="10.131.0.20;" providerName="/MPMS2013-Reports/"/>
    <add name="rpturl_MPMS2013" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    -->
<!-- connection string for WPMS2014 Reports Application  06122013-->
<!--
    <add name="con_Proc_online_WPMS2014" connectionString="Data Source=10.131.0.20;Initial Catalog=WPMS2014;Persist Security Info=True;User ID=wpm2014;Password=wpmmp@2k14" providerName="System.Data.SqlClient"/>
    <add name="uname_WPMS2014" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_WPMS2014" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_WPMS2014" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_WPMS2014" connectionString="10.131.0.20;" providerName="/WPMS2014-Reports/"/>
    <add name="rpturl_WPMS2014" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    -->
<!-- connection string for WPMS_test Reports Application  18022014-->
<!--
    <add name="con_Proc_online_WPMS2014_Test" connectionString="Data Source=10.131.0.20;Initial Catalog=WPMS_test;Persist Security Info=True;User ID=wpms_test;Password=wpms@2014" providerName="System.Data.SqlClient"/>
    <add name="uname_WPMS2015_TEST" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_WPMS2015_TEST" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_WPMS2015_TEST" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_WPMS2015_TEST" connectionString="10.131.0.20;" providerName="/WPMS2015-Reports_Test/"/>
    <add name="rpturl_WPMS2015_TEST" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    -->
<!-- connection string for PPMS2014 Reports Application  02082014-->
<!--
    -->
<!--<add name="con_Proc_online_PPMS2014" connectionString="Data Source=10.131.0.20;Initial Catalog=PPMS2014;Persist Security Info=True;User ID=paddy2014;Password=paddy@2k14" providerName="System.Data.SqlClient"/>-->
<!--
    <add name="con_Proc_online_PPMS2014" connectionString="Data Source=10.131.0.20;Initial Catalog=PPMS2014;Persist Security Info=True;User ID=paddy2014;Password=paddy@2k14" providerName="System.Data.SqlClient"/>
    <add name="uname_PPMS2014" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_PPMS2014" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_PPMS2014" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_PPMS2014" connectionString="10.131.0.20;" providerName="/PPMS2014-Reports/"/>
    <add name="rpturl_PPMS2014" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    <add name="con_Proc_online_MPMS2014" connectionString="Data Source=10.131.0.20;Initial Catalog=MPMS2014;Persist Security Info=True;User ID=paddy2014;Password=paddy@2k14" providerName="System.Data.SqlClient"/>
    <add name="uname_MPMS2014" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_MPMS2014" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_MPMS2014" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_MPMS2014" connectionString="10.131.0.20;" providerName="/MPMS2014-Reports/"/>
    <add name="rpturl_MPMS2014" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    -->
<!-- connection string for PPMS2014 test Reports Application  03082013-->
<!--
    <add name="con_Proc_online_PPMS2014_test" connectionString="Data Source=10.131.0.20;Initial Catalog=PPMS_Test;Persist Security Info=True;User ID=ppms@test;Password=ppmstest@2014" providerName="System.Data.SqlClient"/>
    <add name="uname_PPMS2013" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_PPMS2013" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_PPMS2013" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_PPMS2013Test" connectionString="10.131.0.20;" providerName="/PPMS2014Test-Reports/"/>
    <add name="rpturl_PPMS2013" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
    -->
<!-- connection string for WPMS2015 Reports Application  30122014-->

   <!--> <add name="con_Proc_online_WPMS2015" connectionString="Data Source=(local);User ID=sa;Persist Security Info=True;User ID=sa;Password=sql" providerName="System.Data.SqlClient"/>-->
   
<!--<add name="con_Proc_online_WPMS2015" connectionString="Trusted_connection=true; Database= WPMS2015 ; Data Source= Ashish_Wankhede" providerName="System.Data.SqlClient"/>-->
<!--
    <add name="uname_WPMS2015" connectionString="10.131.0.20;" providerName="Administrator"/>
    <add name="psw_WPMS2015" connectionString="10.131.0.20;" providerName="nic@123"/>
    <add name="domain_WPMS2015" connectionString="10.131.0.20;" providerName="10.131.0.20"/>
    <add name="rptfolder_WPMS2015" connectionString="10.131.0.20;" providerName="/WPMS2015-Reports/"/>
    <add name="rpturl_WPMS2015" connectionString="10.131.0.20;" providerName="http://10.131.0.20/ReportServer"/>
  </connectionStrings>
  <elmah>
    <errorLog type="Elmah.MemoryErrorLog, Elmah" size="100"/>
  </elmah>
  <system.web>
    <httpRuntime maxRequestLength="10240" executionTimeout="360"/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
    -->
<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
<!--
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <compilation debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    -->
<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
<!--
    <authentication mode="Windows"/>
    -->
<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
   -->
<!--
    -->
<!--<customErrors mode="On"  defaultRedirect="GenericErrorPage.aspx">
        <error statusCode="403" redirect="NoAccess.aspx" />
        <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>-->
<!--
    <customErrors mode="Off"/>
    -->
<!--17102013-->
<!--
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="MainLogin.aspx"/>
        -->
<!--  <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
         -->
<!--
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom/>
</configuration>-->


<!--<?xml version="1.0"?>-->
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->

<configuration>
	
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ConnCSMSro" value="Data Source=(local);Initial Catalog=newcsms;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"/>

		<add key="ConnCSMSrw" value="Data Source=(local);Initial Catalog=newcsms;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;"/>


		<add key="Appconstr_PPMS2016" value="Data Source=(local);Initial Catalog=newcsms;Integrated Security=True;UID=sa;Password=sql;Initial Catalog=PPMS2016" />
		<add key="Appconstr_MPMS2016" value="Data Source=(local);Initial Catalog=newcsms;Integrated Security=True;UID=sa;Password=sql;Initial Catalog=MPMS2016" />
		<add key="Appconstr_WPMS2017" value="Data Source=(local);Initial Catalog=newcsms;Integrated Security=True;UID=sa;Password=sql;Initial Catalog=WPMS2017" />
		<add key="Appconstr_WPMS2017" value="Data Source=(local);Initial Catalog=newcsms;Integrated Security=True;UID=sa;Password=sql;Initial Catalog=WPMS2017" />
		<add key="ConnectionString" value="Data Source=(local);Initial Catalog=newcsms;Integrated Security=True;UID=sa;Password=server_123;Initial Catalog=MPSCSC" />
		<!--<add key="Appconstr_MPMS2015" value="Data Source=adityapc;UID=sa;Password=server_123;Initial Catalog=MPMS2015"/>
    <add key="Appconstr_PPMS2014" value="Data Source=adityapc;UID=sa;Password=server_123;Initial Catalog=PPMS2014"/>
    <add key="Appconstr_PPMS2013" value="Data Source=adityapc;UID=sa;Password=server_123;Initial Catalog=PPMS2013"/>-->
	</appSettings>
	<connectionStrings>
		<!--<add name="con_Proc_online_PPMS2013" connectionString="Data Source=adityapc;Initial Catalog=PPMS2013;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="con_Proc_online_PPMS2014" connectionString="Data Source=adityapc;Initial Catalog=PPMS2014;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="con_Proc_online_PPMS2015" connectionString="Data Source=adityapc;Initial Catalog=PPMS2015;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<!--> <add name="con_Proc_online_PPMS2016" connectionString="Data Source=(local);Initial Catalog=mpscsc;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="con_Proc_online_MPMS2016" connectionString="Data Source=(local);Initial Catalog=mpscsc;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="con_Proc_online_WPMS2017" connectionString="Data Source=(local);Initial Catalog=mpscsc;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<!--<add name="connstorage" connectionString="Data Source=adityapc;Initial Catalog=WPMS2017;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<add name="constr" connectionString="Data Source=(local);Initial Catalog=newcsms;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="uparjan" connectionString="Data Source=(local);Initial Catalog=PPMS2015;Integrated Security=True" providerName="System.Data.SqlClient" />

		<add name="constr_opdms" connectionString="Data Source=(local);Initial Catalog=newcsms;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="connstorage" connectionString="Data Source=(local);Initial Catalog=IntegratedMPStorage;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="uname_PPMS2016" connectionString="DESKTOP-UF82IU7" providerName="hp" />
		<add name="psw_PPMS2016" connectionString="DESKTOP-UF82IU7" providerName="admin" />
		<add name="domain_PPMS2016" connectionString="DESKTOP-UF82IU7" providerName="DESKTOP-UF82IU7" />
		<add name="rptfolder_PPMS2016" connectionString="DESKTOP-UF82IU7" providerName="/PPMS2016_Reports/" />
		<add name="rpturl_PPMS2016" connectionString="DESKTOP-UF82IU7" providerName="http://desktop-uf82iu7/ReportServer" />
		<add name="uname_MPMS2016" connectionString="DESKTOP-UF82IU7" providerName="hp" />
		<add name="psw_MPMS2016" connectionString="DESKTOP-UF82IU7" providerName="admin" />
		<add name="domain_MPMS2016" connectionString="DESKTOP-UF82IU7" providerName="DESKTOP-UF82IU7" />
		<add name="rptfolder_MPMS2016" connectionString="DESKTOP-UF82IU7" providerName="/MPPS2016Reports/" />
		<add name="rpturl_MPMS2016" connectionString="DESKTOP-UF82IU7" providerName="http://desktop-uf82iu7/ReportServer" />
		<add name="uname_WPMS2017" connectionString="DESKTOP-UF82IU7" providerName="hp" />
		<add name="psw_WPMS2017" connectionString="DESKTOP-UF82IU7" providerName="admin" />
		<add name="domain_WPMS2017" connectionString="DESKTOP-UF82IU7" providerName="DESKTOP-UF82IU7" />
		<add name="rptfolder_WPMS2017" connectionString="DESKTOP-UF82IU7" providerName="/WPMS2017_Reports/" />
		<add name="rpturl_WPMS2017" connectionString="DESKTOP-UF82IU7" providerName="http://desktop-uf82iu7/ReportServer" />
		  <add name="con_Proc_online_WPMS2015" connectionString="Data Source=(local);User ID=sa;Persist Security Info=True;User ID=sa;Password=sql" providerName="System.Data.SqlClient"/>
		<!--
    <add name="uname_PPMS2015" connectionString="adityapc" providerName="Administrator"/>
    <add name="psw_PPMS2015" connectionString="adityapc" providerName="nic"/>
    <add name="domain_PPMS2015" connectionString="adityapc" providerName="adityapc"/>
    <add name="rptfolder_PPMS2015" connectionString="adityapc" providerName="/PPMS2015_Reports/"/>
    <add name="rpturl_PPMS2015" connectionString="adityapc" providerName="http://desktop-uf82iu7/ReportServer"/>
    
    <add name="uname_PPMS2014" connectionString="adityapc" providerName="Administrator"/>
    <add name="psw_PPMS2014" connectionString="adityapc" providerName="nic"/>
    <add name="domain_PPMS2014" connectionString="adityapc" providerName="adityapc"/>
    <add name="rptfolder_PPMS2014" connectionString="adityapc" providerName="/PPMS2014_Reports/"/>
    <add name="rpturl_PPMS2014" connectionString="adityapc" providerName="http://desktop-uf82iu7/ReportServer"/>
    
    
    <add name="uname_PPMS2013" connectionString="adityapc" providerName="Administrator"/>
    <add name="psw_PPMS2013" connectionString="adityapc" providerName="nic"/>
    <add name="domain_PPMS2013" connectionString="adityapc" providerName="adityapc"/>
    <add name="rptfolder_PPMS2013" connectionString="adityapc" providerName="/PPMS2013_Reports/"/>
    <add name="rpturl_PPMS2013" connectionString="adityapc" providerName="http://desktop-uf82iu7/ReportServer"/>-->
	</connectionStrings>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="ajx" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<httpHandlers>
			<remove path="*.asmx" verb="*" />
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<add path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" />
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
		<compilation debug="true">
   <assemblies>
    <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
   </assemblies>
   <buildProviders>
    <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
   </buildProviders>
  </compilation>
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.htm" />
				<add value="Default.aspx" />
				<!--  <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
         -->
			</files>
		</defaultDocument>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="elmah.axd_POST,GET,HEAD" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode,runtimeVersionv2.0" />
			<!--><add name="Reserved.ReportViewerWebControl.axd_*" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="integratedMode,runtimeVersionv2.0" />-->
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<directoryBrowse enabled="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="OptionInfer" value="true" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>