/*<STYLE TYPE="text/css">
<!-- /* $WEFT -- Created by:  -- */
 font-face {
    font-family: DVBW-TTYogeshEN;
    font-style:  normal;
    font-weight: normal;
    src: url(/pdsallot/DVBWTTY0.eot);
  }
-->
/*<!-- /* $WEFT -- Created by: xys (xyz@his.com) on 13/Oct/2008 -- */
  font-face {
    font-family: Kruti Dev 010;
    font-style:  normal;
    font-weight: normal;
    src: url(/pdsallot/KRUTIDE0.eot);
  }
  .link
  {
	 font-family :Verdana ;
	 
	
 }
 .link a:hover
 {
	color :White ;
	text-decoration :blink;
	
   }
/*-->
</STYLE>